@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300;700&display=swap');

:root {
    font-family: 'Gemunu Libre', sans-serif;
    --primary-color: #6EE7B7;
    --secondary-color: #60A5FA;
}

body {
    margin-left: 1px;
    margin: 0px;

}

.header {
    /* background-color: var(--secondary-color); */
}

.header-heading-1 {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-bottom: 2rem;
    background-color: var(--primary-color);
}

.headerlink {
    text-decoration: none;
    text-align: right;
    /* margin-bottom: 2rem; */
    color: black;
    font-size: large;
    background-color: var(--secondary-color)
}

.blog-intro {
    margin-bottom: 5rem;
    margin-block-start: 0em;
    width: 299px;
    background-color: var(--primary-color);
}

.why {
    margin-block-start: 0em;
    margin-bottom: 5rem;
    width: 461px;
    background-color: var(--secondary-color)
}

.blog-start {
    margin-block-start: 0em;
    width: 255px;
    background-color: var(--primary-color)
}